
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters" style=" padding-bottom:20px;padding-top:50px" >
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/Content/HRP/anaresimler/tamamlayiciurun1.jpg);">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4 text-center">
                        Meubles en Acier Inoxydable
                    </h2>

                    <p style="text-align:justify">Se poursuivant depuis l’an, nos activités dans le domaine des applications en acier inoxydable continuent de se développer, notamment la production de meubles en acier inoxydable sous la marque HRP Furniture, qui a été ajoutée à notre ligne de production.</p>
                    <p style="text-align:justify">Depuis plus de 14 ans, elle travaille avec une équipe d’architectes expérimentés, une équipe de conception qualifiée, une équipe d’établissement de production et une équipe de terrain qui a de l’expérience dans un éventail de projets architecturaux tels que la construction de ponts, des systèmes de rails et des balustrades de balcon. </p>
                </div>
            </div>
        </div>
    </div>
</section>

