
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap ftco-degree-bg mobilAnaDiv">
    <img src="~/Content/HRP/anaresimler/aboutGorsel2-min.png" class="anaGorsel" style="width:100%; margin:auto; text-align:center; margin-top:-342px" />

    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">

            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</div>


        <section class="ftco-section contact-section">
            <div class="container">
                <div class="row d-flex mb-5 contact-info justify-content-center">
                    <div class="col-md-8">
                        <div class="row mb-5">
                            <div class="col-md-4 text-center py-4">
                                <div class="icon">
                                    <span class="icon-map-o"></span>
                                </div>
                                <p>
                                    <span>Addresse:</span> Metal Mühendislik Makine Sanayi ve Tic.Ltd.Şti.

                                    Karaağaç Mah. Hadımköy
                                    İstanbul Cad. No:5
                                    Büyükçekmece / İstanbul
                                </p>
                            </div>
                            <div class="col-md-4 text-center border-height py-4">
                                <div class="icon">
                                    <span class="icon-mobile-phone"></span>
                                </div>
                                <p><span>Téléphone:</span> <a href="tel://1234567920">+90  (212) 871 22 77</a></p>
                            </div>
                            <div class="col-md-4 text-center py-4">
                                <div class="icon">
                                    <span class="icon-envelope-o"></span>
                                </div>
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@metalmuhendislik.com.tr</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  justify-content-center ">
                    <div class="col-md-6 mb-md-5" style="margin-top:-60px">
                        <h2 class="text-center"> CONTACT FORM</h2>
                        <form action="#" class="bg-light p-5 contact-form" style="padding-bottom:2px !important; padding-top: 2px !important">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Votre Nom">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Votre E-mail">
                            </div>
                            
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Votre Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Soumettre" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>

                    </div>
                    <div class="col-md-6 mb-md-5" style="margin-bottom:-20px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.176414028026!2d28.626795315376693!3d41.08699197929287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b558ff01392f99%3A0x73fb7dfee59ca0f5!2sMetal%20M%C3%BChendislik!5e0!3m2!1sfr!2str!4v1585684899556!5m2!1sfr!2str" width="500" height="370" frameborder="0" style="border:0;" allowfullscreen="" class="harita" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                
            </div>
        </section>

