
@{
    ViewBag.Title = "FabricsOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap ftco-degree-bg mobilAnaDiv">
    <img src="~/Content/HRP/anaresimler/aboutGorsel2-min.png" class="anaGorsel" style="width:100%; margin:auto; text-align:center; margin-top:-342px" />

    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">

            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</div>

<section class="ftco-section goto-here">
    <div class="container" style="width:60%">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">
                    OPTIONS DE TISSUS


                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA174.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA174.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        ATHENA 174
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA1131.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA1131.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        ATHENA 1131
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA1164.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA1164.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        ATHENA 1164

                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA1210.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA1210.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        ATHENA 1210
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/PALMİRA1100.jpg')" style="  background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/PALMİRA1100.jpg);
        width: 250px;
        height: 250px;
        object-fit: cover"></a>
                    <div class="text ">
                        PALMIRA 1100

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/PALMİRA159.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/PALMİRA159.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        PALMIRA 159
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/SummerPlaın540.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/SummerPlaın540.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text galeri">
                        SUMMER PLAIN 540


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/SummerPlaın042.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/SummerPlaın042.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        SUMMER PLAIN 042
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/KumasSecenekleri/SummerPlaın220.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/KumasSecenekleri/SummerPlaın220.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        SUMMER PLAIN 220
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

