
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap ftco-degree-bg mobilAnaDiv" >
    <img src="~/Content/HRP/anaresimler/aboutGorsel2-min.png" class="anaGorsel" style="width:100%; margin:auto; text-align:center; margin-top:-342px" />
  
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
              
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</div>

@*----URUNLER---*@
<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
               
                <h2 class="mb-2">PRODUITS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="/Home/GardenProducts" class="img" style="background-image: url(/Content/HRP/anaresimler/1-min.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> MEUBLES DE JARDIN</a></h3>

                        <a href="/Home/GardenProducts" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="/Home/IndoorProducts" class="img" style="background-image: url(/Content/HRP/anaresimler/icMekanMobilya.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> MEUBLES INTÉRIEURS</a></h3>

                        <a href="/Home/IndoorProducts" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="/Home/Accessories" class="img" style="background-image: url(/Content/HRP/anaresimler/aksesuarlar.jpg);"></a>
                    <div class="text">


                        <h3><a href="#"> ACCESSOIRES</a></h3>

                        <a href="/Home/Accessories" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="/Home/LightingProducts" class="img" style="background-image: url(/Content/HRP/anaresimler/aydınlatmaUrunler.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> PRODUITS D’ÉCLAIRAGE</a></h3>

                        <a href="/Home/LightingProducts" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="/Home/CityProducts" class="img" style="background-image: url(/Content/HRP/anaresimler/kentmobilya.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> MEUBLES URBAINS</a></h3>

                        <a href="/Home/CityProducts" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="/Home/ComplementaryProducts" class="img" style="background-image: url(/Content/HRP/anaresimler/tamamlayiciurun1.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> PRODUITS COMPLÉMENTAIRES</a></h3>

                        <a href="/Home/ComplementaryProducts" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

