
@{
    ViewBag.Title = "LeatherOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="hero-wrap ftco-degree-bg mobilAnaDiv">
    <img src="~/Content/HRP/anaresimler/aboutGorsel2-min.png" class="anaGorsel" style="width:100%; margin:auto; text-align:center; margin-top:-342px" />

    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">

            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</div>

<section class="ftco-section goto-here">
    <div class="container" style="width:60%">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">
                    OPTIONS DE REMBOURRAGE EN CUIR


                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        NONA FR 610RETRO
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1231.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1231.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        RETRO 1231
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1301.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1301.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        RETRO 1301
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        RETRO 1316
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/retro1521.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/retro1521.jpg); width: 250px; height: 250px; object-fit: cover"></a>
                    <div class="text ">
                        RETRO 1521

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1901.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1901.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        RETRO 1901
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory275.jpg')" style="        background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory275.jpg);
        width: 250px;
        height: 250px;
        object-fit: cover"></a>
                    <div class="text ">
                        SANTA GLORY 275

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory480.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory480.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        SANTA GLORY 480

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory525.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory525.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        SANTA GLORY 525

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


