
@{
    ViewBag.Title = "MetalColor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="hero-wrap ftco-degree-bg mobilAnaDiv">
    <img src="~/Content/HRP/anaresimler/aboutGorsel2-min.png" class="anaGorsel" style="width:100%; margin:auto; text-align:center; margin-top:-342px" />

    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">

            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</div>

<section class="ftco-section goto-here">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">
                    OPTIONS DE COULEUR MÉTALLIQUE
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/natursatine.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/natursatine.jpg); width:250px; height:280px; object-fit:cover"></a>
                    <div class="text ">
                        NATUREL SATIN

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/naturparlak.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/naturparlak.jpg); width:250px; height:280px; object-fit:cover"></a>
                    <div class="text ">
                        NATUREL POLI
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldsatine.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldsatine.jpg); width:250px; height:280px; object-fit:cover"></a>
                    <div class="text ">
                        DORÉE SATIN
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldparlak.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldparlak.jpg); width:250px; height:280px; object-fit:cover"></a>
                    <div class="text ">
                        DORÉE POLI
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzsatine.jpg')" style="        background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzsatine.jpg);
        width: 250px;
        height: 280px;
        object-fit: cover
"></a>
                    <div class="text ">
                        BRONZE SATIN

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzparlak.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzparlak.jpg); width:250px; height:280px; object-fit:cover"></a>
                    <div class="text ">
                        BRONZE POLI
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width:250px; height:280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blacksatine.jpg')" style="        background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blacksatine.jpg);
        width: 250px;
        height: 280px;
        object-fit: cover"></a>
                    <div class="text ">
                        NOIR SATIN
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate" style="width: 250px; height: 280px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak.jpg); width:250px; height:280px; object-fit:cover"></a>
                    <div class="text ">
                        NOIR POLI
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>




