
@{
    ViewBag.Title = "WoodType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap ftco-degree-bg mobilAnaDiv">
    <img src="~/Content/HRP/anaresimler/aboutGorsel2-min.png" class="anaGorsel" style="width:100%; margin:auto; text-align:center; margin-top:-342px" />

    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">

            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</div>

<section class="ftco-section goto-here">
    <div class="container" style="width:60%">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">
                    OPTIONS DE TYPE BOIS

                </h2>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-6">
            <div class="property-wrap ftco-animate">
                <a href="/Home/WoodType" class="img" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/TeakHareli.jpg); object-fit:cover;  height:500px"></a>
                <div class="text">

                    <h3>
                        <a href="#">
                            OPTIONS DE TYPE BOIS
                        </a>
                    </h3>

                    <a href="/Home/WoodType" class="d-flex align-items-center justify-content-center btn-custom">
                        <span class="ion-ios-link"></span>
                    </a>
                </div>
            </div>
        </div>*@
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/TeakHareli.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/TeakHareli.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        BOIS MOIRÉ
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/platinium.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/platinium.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        PLATINE
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/pelenksHareli.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/pelenksHareli.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        BOIS DE ROSE BRÉSILIEN
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/MeseExtra.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/MeseExtra.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        CHÊNE EXTRA
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/KalinDamarMese.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/KalinDamarMese.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        CHÊNE ÉPAIS
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="property-wrap ftco-animate" style="width:250px; height:250px">
                    <a href="#0" class="img" onclick="func('/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/AbanozKahve.jpg')" style="background-image: url(/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/AbanozKahve.jpg); width:250px; height:250px; object-fit:cover"></a>
                    <div class="text ">
                        ÉBÈNE BRUN

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

